###################
# LATEX
###################
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.brf
*.nav
*.snm
*.vrb

###################
# Java
###################
src/site/markdown/index.md
target/*
.classpath
.project
.settings/
moco.iml
.idea/*

###################
# Editor
###################
*.swp

dependency-reduced-pom.xml
/target/
