###################
# Maven
###################
src/site/markdown/index.md
dependency-reduced-pom.xml
target/

###################
# Editor
###################
.classpath
.project
.settings/
moco.iml
.idea/*
*.swp

